<a href="https://colab.research.google.com/github/BhushanBirari/Learn-Python./blob/main/Python-01-LiveClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python

## Datatypes

In [1]:
numeric_variable = 5 # integers
print(numeric_variable)
type(numeric_variable)

5

int

In [2]:
x = 10.25  # decimal numbers
print(x)
type(x)

10.25

float

In [3]:
x = True
print(x)
type(x)

True

bool

In [4]:
x= "Tanisha"
print(x)
type(x)

Tanisha

str

In [5]:
x = 3 + 4j
print(x)
type(x)

(3+4j)

complex

1. variable is called as symbolic name that refers to a value to be saved in RAM
2. assignment operator (=)
3. variables can comprise of (a-z,A-Z,_, digits)
4. variables are case sensitive
5. variables cannot start with a digit
6. dynamically typed
7. assign multiple variables in one syntax
8. del statement - deleting a variable

In [ ]:
x@# = 3

SyntaxError: invalid syntax (<ipython-input-11-af8b75c2434c>, line 1)

In [ ]:
x= 5
print(X)

NameError: name 'X' is not defined

In [ ]:
9variable = 3

SyntaxError: invalid decimal literal (<ipython-input-13-9830ad6bc8d9>, line 1)

In [6]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [7]:
del x

## Basics of Operations

In [8]:
a = 5
b = 2
print(a + b) #addition
print(a - b) #subtraction
print(a * b) #multiplication
print(a/b) #division (decimal values)
print(a//b) # floor division nearest whole down number (2, 3) floor - 2
print(a**b) # a to the power b #exponentation
print(a%b) # modulus operator a is divided by b what remainder comes up that will be answer

7
3
10
2.5
2
25
1

## String operations

In [ ]:
str1 = "Hello"
str2 = " World"
print(str1 + str2) #concatenation

Hello World

In [ ]:
# repetition
str1 = " abc "
print(str1 * 3)

 abc  abc  abc

In [ ]:
# indexing
str1 = "Hello world" # indexing starts with 0
print(str1[0]) #forward indexing
print(str1[-1]) # negative indexing backward
print(str1[-5])

H
d
w

H e l l o   w o r l d
0 1 2 3 4 5 6 7 8 9 10
                -3  -2  -1

In [ ]:
#slicing
str1 = "Hello world" # indexing starts with 0
print(str1[1:4]) # string will start populating characters exactly at index 1 and till index 3 it will populate the characters
# startindex : endindex
# endindex is considered exclusive in nature

ell

In [ ]:
print(str1[:4]) # by default left side starts with 0

Hell

In [ ]:
print(str1[4:]) # by default it goes to last character of the string

o world

In [ ]:
len(str1) #length of string

11

In [ ]:
## python based string methods
result = " Python programming "
print(result.upper())
print(result.lower())
print(result.strip()) # remove whitespaces from both the ends

 PYTHON PROGRAMMING
 python programming
Python programming

In [ ]:
## Formatting strings using placeholders
name = input('Enter your name')
age = input('Enter your age')
result = "My name is {} and I am {} years old".format(name, age)
print(result)

Enter your nameRam
Enter your age10
My name is Ram and I am 10 years old

## Data structures

1. Lists
veratile and mutable (changeable) DS that allows you to create, update, delete and perform any operations. Ordered, elements of different data types.

In [ ]:
list1  = [1, 2, 3, "apples", "bananas"] # different data types
print(list1)

[1, 2, 3, 'apples', 'bananas']

In [ ]:
list2 = []
print(list2)

[]

In [ ]:
list1[0] #indexing

1

In [ ]:
list1[:4] #slicing

[1, 2, 3, 'apples']

In [ ]:
list1.append("grapes") #adding grapes at the end of the list
list1

[1, 2, 3, 'apples', 'bananas', 'grapes']

In [ ]:
list1.insert(3, "kiwi") #adding kiwi at index 3 insert(indexposition, element value)
list1

[1, 2, 3, 'kiwi', 'apples', 'bananas', 'grapes']

In [ ]:
list1.remove(1) # remove element value

In [ ]:
list1

[2, 3, 'kiwi', 'apples', 'bananas', 'grapes']

In [ ]:
fruits = ['mangoes','oranges']
list1.extend(fruits) # extend method can add fruit elements directly into the list
list1

[2, 3, 'kiwi', 'apples', 'bananas', 'grapes', 'mangoes', 'oranges']

In [ ]:
len(list1)

8

In [ ]:
list1.pop(1) # remove an element present at index 1
# index position

3

In [ ]:
list1

[2, 'kiwi', 'apples', 'bananas', 'grapes', 'mangoes', 'oranges']

## Tuples

Ordered, but not changeable in nature -
immutable, multiple data types, ()

In [ ]:
my_tuple = (1, 2, 3, "apples")
my_tuple

(1, 2, 3, 'apples')

In [ ]:
my_tuple[0] = 5 # modification are not allowed in tuples

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple[0] #indexing

1

In [ ]:
my_tuple[:3] #slicing

(1, 2, 3)

In [ ]:
len(my_tuple)

4

## Sets

unordered collection of elements, unique, {}, mutable

In [ ]:
my_set = {1, 2, 3, "apples","apples"}
my_set

{1, 2, 3, 'apples'}

In [ ]:
my_set.add("orange")
my_set

{1, 2, 3, 'apples', 'orange'}

In [ ]:
my_set.remove(1)

In [ ]:
my_set

{2, 3, 'apples', 'orange'}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
print(set1.intersection(set2))

{3}

In [ ]:
print(set1.difference(set2))

{1, 2}

In [ ]:
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

## Dictionaries

unordered collection, key-value pairs, each key has to be unique, value can be duplicated, {}

In [ ]:
my_dict = {'name':'Tanisha', 'age':29}
my_dict

{'name': 'Tanisha', 'age': 29}

In [ ]:
my_dict['name']  # square bracket and mention key in single quote

'Tanisha'

In [ ]:
my_dict['city'] = 'Bangalore' #adding city into dictionary
print(my_dict)

{'name': 'Tanisha', 'age': 29, 'city': 'Bangalore'}

In [ ]:
my_dict.update({'country':'India'}) #adding country into dictionary
print(my_dict)

{'name': 'Tanisha', 'age': 29, 'city': 'Bangalore', 'country': 'India'}

In [ ]:
del my_dict['country']

In [ ]:
my_dict

{'name': 'Tanisha', 'age': 29, 'city': 'Bangalore'}

In [ ]:
print('city' in my_dict) #checking the presence of the key
print('address' in my_dict)

True

In [ ]:
my_dict.keys() # list of keys

dict_keys(['name', 'age', 'city'])

In [ ]:
my_dict.values() # list of values

dict_values(['Tanisha', 29, 'Bangalore'])

In [ ]:
for key, value in my_dict.items():
  print(key, value)

name Tanisha
age 29
city Bangalore

In [ ]:
my_dict.items() # list of tuples of key-value pairs

dict_items([('name', 'Tanisha'), ('age', 29), ('city', 'Bangalore')])